<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDZir5Op466Rr0xeeSQZ2kGiDkBixXMjhY</string>
	<key>GCM_SENDER_ID</key>
	<string>707748605647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.auth.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>auth-a04db</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-a04db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:707748605647:ios:43d9ef8e3f85444ee0d1ba</string>
</dict>
</plist>